<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLOOO</title>
</head>
<body>
'<a href="http://127.0.0.1:5000/weather">Weather</a>''<p><p>''<a href="http://127.0.0.1:5000/weather/info">Add</a>'
'<p><p>'<a href="https://www.tripadvisor.ru/LocationPhotos-g298507-St_Petersburg_Northwestern_District.html#21977484"><img alt="" src="https://media-cdn.tripadvisor.com/media/photo-s/01/4f/59/8c/san-pietroburgo.jpg"/></a><br/></body>
'<p><p>'<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0ed1afed4f69f4c40ff52f1cdcba4c0690e4bcd8a6a6bb55e0726ba163a486e9&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</html>